* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*::selection {
    background-color: rgb(219, 219, 219);
}

#nav-bar {
    height: 26px;
}

#nav-bar ul {
    margin-top: 30px;
    display: inline-flex;
    float: right;
}

#nav-bar ul li {
    list-style-type: none;
    margin-right: 40px;
}

#nav-bar ul li a {
    text-decoration: none;
    color: rgb(25, 109, 219);
    font-weight: bold;
    transition: 0.2s;
}

#container {
    height: 100vh;
    background-color: rgb(228, 228, 228);
}

#main-container {
    padding: 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4vw;
    row-gap: 4vh;
    margin: 0 auto;
    width: 80%;
}

.boxes {
    border-radius: 10px;
    height: 40vh;
    width: 16vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 12px 0px rgb(199, 199, 199);
    transition: 0.4s;
    perspective: 200px;
}

.boxes-img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.boxes:hover {
    transform: translateY(-16px);
    box-shadow: 0px 6px 20px 0px rgb(199, 199, 199);
}

@media screen and (max-width: 768px) {
    #main-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .boxes {
        width: 54vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #main-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .boxes {
        width: 28vw;
    }
}

#signup-btn, #signup-btn:link, #signup-btn:visited {
    white-space: nowrap;
    color: white;
    background-color: rgb(25, 109, 219);
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

#signup-btn:hover {
    background-color: rgb(255, 135, 23);
}

#login-btn, #login-btn:link, #login-btn:visited {
    margin-left: 40px;
    color: white;
    background-color: rgb(25, 109, 219);
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

#login-btn:hover {
    background-color: rgb(255, 135, 23);
}


#frontPage {
    width: 60vw;
    margin: 0 auto;
    height: 92vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#frontPageDescription {
    margin-top: 24px;
    color: rgb(50, 50, 50);
    margin-bottom: 30px;
}

#frontPageDescription h3 {
    font-weight: 100;
}

#iphoneImg {
    width: 500px;
}

#frontPageBtnContainer {
    display: flex;
    justify-content: center;
    width: 30vw;
}

#frontPageBtn {
    background-color: rgb(25, 109, 219);
    border-radius: 12px;
    color: white;
    padding: 20px 30px;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
}

#frontPageBtn:hover {
    background-color: rgb(255, 135, 23);
}

#title {
    margin-top: 100px;
    font-weight: 100;
    font-size: 60px;
    color: rgb(25, 109, 219);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

footer {
    background-color: rgb(40, 40, 40);
    height: 260px;
    color: rgb(210, 210, 210);
    padding: 0 10vw;
}

#footer-container {
    display: grid;
    grid-template-rows: 1fr;
    height: 200px;
    width: 70vw;
    padding: 30px;
}