@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$background-color: rgb(30, 169, 255);

#main-start {
  background-color: $background-color;
  display: block;
  max-width: 100%;
  height: 60vh;
  transition: 0.5s;

  .container {
    height: 50vh;
  }

  #photoContainer {
    #photo {
      object-fit: cover;
      border-radius: 50%;
      border: solid 2px black;
      width: 30vh;
      height: 30vh;
    }
  }
}

#top {
  #name {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
  }
  #title {
    font-size: 24px;
    text-align: center;
    font-family: monospace;
  }
}

.block-container {
  max-width: 40%;
  margin: auto;

  .card {
    padding: 30px;
    border-radius: 30px;
    background: #f0f0f0;
    box-shadow:  25px 25px 50px #bebebe,
             -25px -25px 50px #ffffff;

    .sub-title {
      font-family: 'Press Start 2P', cursive;
    }
  
    .sub-text {
      font-family: monospace;
    }
  }
}

footer {
  font-family: monospace;
  height: 70px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: rgb(0, 97, 207); 
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 65, 139); 
}

@mixin responsive {
  #main-start {
    height: 100vh;

    .container {
      height: 100vh;
    }
  }

  .block-container {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1140px) {
  @include responsive;
}