@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  // overflow-x: hidden;
}


$background-color: #1ea9ff;

#main-start {
  background-color: $background-color;
  width: 100%;
  height: 60vh;
  transition: 0.5s;

  #photoContainer {
    #photo {
      object-fit: cover;
      border-radius: 50px;
      border: solid 2px black;
      width: 30vh;
      height: 30vh;
      background: #1ea9ff;
      box-shadow:  33px 33px 66px #2481bb,
                  -33px -33px 66px #23c2ff;
    }
  }
}

#top {
  #name {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
  }
  #title {
    font-size: 24px;
    text-align: center;
    font-family: monospace;
  }
}

.block-container {
  width: 40%;
  margin: auto;

  .card {
    padding: 30px;
    border-radius: 30px;
    background: #f0f0f0;
    box-shadow:  25px 25px 50px #bebebe,
             -25px -25px 50px #ffffff;

    .sub-title {
      font-family: 'Press Start 2P', cursive;
    }
  
    .sub-text {
      font-family: monospace;
    }
  }
}

footer {
  font-family: monospace;
}

footer::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: rgb(0, 97, 207); 
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 65, 139); 
}

@mixin responsive {
  #main-start {
    height: 100vh;

    .container {
      height: 100vh;
    }
  }

  .block-container {
    width: 80%;
  }
}

@media only screen and (max-width: 1320px) {
  @include responsive;
  #start {
    flex-direction: column;

    .social-logo {
      margin-top: 20px;
      width: 90px;
    }

    .lang-logo {
      margin-top: 40px;
      width: 90px;
    }
  }
}

@media only screen and (max-width: 1140px) {
  @include responsive;

  #start {
    flex-direction: column;

    .social-logo {
      margin-top: 20px;
      width: 70px;
    }

    .lang-logo {
      margin-top: 40px;
      width: 70px;
    }
  }
}

@media only screen and (max-width: 390px) {
  @include responsive;

  #start {
    flex-direction: column;

    .social-logo {
      margin-top: 20px;
      width: 50px;
    }

    .lang-logo {
      margin-top: 40px;
      width: 50px;
    }
  }

  #name {
    font-size: 30px !important;
  }

  #title {
    font-size: 18px !important;
  }
}
