#main-start {
  background-color: rgb(30, 169, 255);
  display: block;
  max-width: 100%;
  height: 50vh;
  transition: 0.5s;

  &:hover {
    background-color: rgb(19, 141, 216);
  }

  .container {
    height: 50vh;
  }

  #info {
    

    #description {
      font-size: 20px;
    }

    #langs {
      display: flex;
      flex-direction: row;

      .lang-logo {
        width: 70px;
      }
    }
  }

  #photo {
    background-color: black;
    border-radius: 50%;
    border: solid 10px lightgreen;
    width: 30vh;
    height: 30vh;
  }
}


@media only screen and (max-width: 992px), screen and (max-height: 600px) {
  #main-start {
    height: 100vh;

    .container {
      height: 100vh;
    }
  }
}